.big-head {
	position: relative;
	min-height: rem(462);
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: em($md2)) {
		min-height: rem(320);
	}
	@media (max-width: em($md3)) {
		max-height: rem(250);
		align-items: flex-end;
	}
	// .big-head__title
	&__title {
		position: relative;
		z-index: 1;
		text-align: center;
		@media (max-width: em($md3)) {
			display: flex;
			flex-direction: column;
			align-items: center;
			br {
				display: none;
			}
		}
	}
	// .big-head__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@media (min-width: em($md0+1)) {
			border-radius: rem(24);
			overflow: hidden;
		}
		@media (max-width: em($md3)) {
			height: 70%;
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 40%);
			}
		}
	}
}

//===============================================================
.service {
	padding: rem(80) 0px;
	@media (max-width: em($md3)) {
		padding: rem(34) 0px;
	}
	// .service__container
	&__container {
	}
}

.services {
	// .services__slides
	&__slides {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(16) rem(30);
		@media (max-width: em($md3)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

.service-slide {
	// .service-slide__content
	&__content {
		height: 100%;
		padding: rem(24) rem(32);
		background: var(--Secondary-Gray-4);
		border-radius: rem(14);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .service-slide__icon
	&__icon {
		margin: 0px 0px rem(6) 0px;
	}
	// .service-slide__link
	&__link {
		font-size: rem(18);
		display: inline-flex;
		flex-direction: row-reverse;
		align-items: center;
		text-align: center;
		gap: rem(13);
		@media (max-width: em($md3)) {
			font-size: rem(14);
		}
		&::before {
			font-size: rem(14);
			@media (max-width: em($md3)) {
				font-size: rem(10);
			}
		}
		// .service-slide__link_blue
		&_blue {
			&::before {
				color: var(--Primary-Blue);
			}
		}
		// .service-slide__link_green
		&_green {
			&::before {
				color: var(--Primary-Green);
			}
		}
		// .service-slide__link_orange
		&_orange {
			&::before {
				color: var(--Primary-Orange);
			}
		}
	}
}

//===============================================================
.img-block {
	padding: rem(80) 0px;
	background: var(--Secondary-Gray-4);
	@media (max-width: em($md3)) {
		padding: rem(34) 0px;
	}
	// .img-block__container
	&__container {
	}
	// .img-block__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0px rem(-12);
		@media (max-width: em($md3)) {
			flex-direction: column-reverse;
		}
	}
	// .img-block__column
	&__column {
		flex: 0 1 50%;
		padding: 0px rem(12);
		@media (max-width: em($md3)) {
			flex: 0 1 100%;
		}
		// .img-block__column_img
		&_img {
		}
		// .img-block__column_content
		&_content {
		}
	}
	// .img-block__img
	&__img {
		border-radius: rem(12);
		overflow: hidden;
	}

	// .img-block_mirror
	&_mirror {
		@media (min-width: em($md3+1)) {
			.img-block__body {
				flex-direction: row-reverse;
			}
		}
	}
}

//===============================================================
.we-can {
	padding: rem(80) 0px;
	@media (max-width: em($md3)) {
		padding: rem(34) 0px;
	}
	// .we-can__head-container
	&__head-container {
	}
	// .we-can__content-container
	&__content-container {
	}
	// .we-can__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: rem(-15);
		@media (max-width: em($md3)) {
			margin: rem(-8);
		}
	}
	// .we-can__column
	&__column {
		padding: rem(15);
		flex: 0 1 33.333%;
		@media (max-width: em($md3)) {
			flex: 0 1 100%;
		}
		// .we-can__column_big
		&_big {
			flex: 0 1 50%;
			@media (max-width: em($md3)) {
				flex: 0 1 100%;
				padding: rem(8);
			}
		}
	}
	// .we-can__item
	&__item {
	}
}

.we-can-item {
	border-radius: rem(14);
	background: var(--Secondary-Gray-4);
	padding: rem(30) rem(24);
	display: grid;
	gap: rem(16);
	justify-items: center;
	text-align: center;
	height: 100%;
	@media (max-width: em($md3)) {
		padding: rem(16) rem(14);
	}
	// .we-can-item__icon
	&__icon {
	}
	// .we-can-item__title
	&__title {
	}
	// .we-can-item__text
	&__text {
	}
}

//===============================================================
.team {
	background: var(--Secondary-Gray-4);
	padding: rem(80) 0px 0px;
	@media (max-width: em($md3)) {
		padding: rem(34) 0px;
	}
	// .team__head-container
	&__head-container {
	}
	// .team__content-container
	&__content-container {
	}
	// .team__body
	&__body {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: rem(16) rem(30);
		@media (max-width: em($md3)) {
			gap: rem(10);
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .team__item
	&__item {
	}
}

.team-item {
	// .team-item__img
	&__img {
		border-radius: rem(24) rem(24) 0px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff;
		overflow: hidden;
		height: 100%;
		@media (max-width: em($md3)) {
			border-radius: rem(10) rem(10) 0px 0px;
		}
	}
}

//===============================================================
.partners {
	padding: rem(80) 0px;
	@media (max-width: em($md3)) {
		padding: rem(34) 0px;
		background: var(--Secondary-Gray-4);
	}
	// .partners__head-container
	&__head-container {
	}
	// .partners__content-container
	&__content-container {
	}
	// .partners__wrapper
	&__wrapper {
		@media (max-width: em($md2)) {
			overflow-x: auto;
		}
	}
	// .partners__body
	&__body {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: rem(30);
		@media (max-width: em($md2)) {
			gap: rem(16) rem(20);
		}
	}
	// .partners__item
	&__item {
	}
}

.partner-item {
	@media (max-width: em($md2)) {
		width: rem(225);
	}
	// .partner-item__img
	&__img {
		border-radius: rem(12);
		overflow: hidden;
	}
}
