:root {
	--color-error: #b81111;
	--color-warning: #ffc107;
	--color-success: #198754;
	--color-focus: #26b9ff;

	// --color-main-light: #908af7;
	// --color-main: #4f46e5;
	// --color-main-dark: #271dd7;

	// --color-body-background: #f8f8f8;

	// --color-font: #111;

	// --color-link: #000000;
	// --color-link-hover: #271dd7;

	// --Primary-Black: #111;

	--Primary-White: #fff;
	--Primary-Black: #111;
	--Secondary-Black-2: #282828;
	--Secondary-Gray-1: #545454;
	--Secondary-Gray-2: #a9a9a9;
}

//===============================================================

// Стилизация скроллбаров
@media (any-hover: hover) {
	::-webkit-scrollbar {
		width: px(10);
		height: px(10);
	}

	::-webkit-scrollbar-track {
		background: #eeeeee;
		box-shadow: 0 0 px(2) rgba(0, 0, 0, 0.2) inset;
	}

	::-webkit-scrollbar-thumb {
		background: var(--Secondary-Black-2);
		border-radius: px(5);
		border: px(2) solid #eeeeee;
		&:hover {
			background: var(--Primary-Black);
		}
	}
}

//===============================================================

html {
	scrollbar-gutter: stable;
}

body {
	color: var(--Secondary-Black-2);
	background: var(--Primary-White);
	font-size: rem(16);
	line-height: 140%;
	&._lock {
		overflow: hidden;
	}

	//---------------------------------------------------------------

	a {
		transition: all 0.3s ease 0s;
		color: var(--Secondary-Black-2);
		@media (any-hover: hover) {
			&:hover {
				color: var(--Primary-Black);
			}
		}
	}

	//---------------------------------------------------------------

	.h1,
	h1 a,
	h1 {
		font-weight: 500;
		font-size: rem(40);
		line-height: prc(42, 40);
		color: var(--Primary-Black);
	}
	.h2,
	h2 a,
	h2 {
		font-weight: 500;
		font-size: rem(36);
		line-height: prc(42, 36);
		color: var(--Primary-Black);
	}
	.h3,
	h3 a,
	h3 {
		font-size: rem(28);
		line-height: prc(33, 28);
		color: var(--Primary-Black);
	}
	.h4,
	h4 a,
	h4 {
		font-size: rem(21);
		line-height: prc(24, 21);
		color: var(--Primary-Black);
	}
	.h5,
	h5 a,
	h5 {
		font-size: rem(19);
		line-height: prc(21, 19);
		color: var(--Primary-Black);
	}

	//---------------------------------------------------------------
	._special-styles {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 0px 0px rem(20) 0px;
		}

		a {
			transition: all 0.3s ease 0s;
			color: var(--Primary-Black);
			@media (any-hover: hover) {
				&:hover {
					color: var(--Secondary-Black-2);
				}
			}
		}

		p {
			margin: 0px 0px rem(20) 0px;
		}

		figure {
			display: inline-block;
			margin: 0px 0px rem(20) 0px;
			img {
				border-radius: rem(5);
			}
		}

		ul {
			padding: 0px 0px 0px rem(22);
			margin: 0px 0px rem(10) 0px;
			li {
				position: relative;
				line-height: 150%;
				margin: 0px 0px rem(10) 0px;
				& > ul,
				& > ol {
					padding-top: rem(10);
				}
				&::before {
					content: "";
					position: absolute;
					top: em(9);
					left: em(-18);
					width: em(6);
					height: em(6);
					background: var(--Primary-Black);
					border-radius: 50%;
				}
			}
		}

		ol {
			padding: 0px 0px 0px rem(22);
			margin: 0px 0px rem(15) 0px;
			li {
				line-height: 150%;
				margin: 0px 0px rem(10) 0px;
				& > ul,
				& > ol {
					padding-top: rem(10);
				}
			}
		}

		table {
			max-width: 100%;
			border-collapse: collapse;
			margin: 0px 0px rem(40) 0px;
			@media (max-width: ($md3+"px")) {
				margin: 0px 0px rem(20) 0px;
			}
			tr {
				th {
					font-size: rem(16);
					font-weight: 400;
					background: #111111;
					padding: rem(5) rem(10);
					border: 1px solid #000000;
					color: #ffffff;
				}
				td {
					background: #dddddd;
					border: 1px solid #000000;
					padding: rem(5) rem(10);
				}
			}
		}

		.table-wrapper {
			width: 100%;
			overflow-x: auto;
		}
	}
}

// Оболочка контента сайта. Необходимма, чтобы футер всегда был прижат к низу экрана
.wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&._loaded {
	}
}

// Основной блок
.page {
	min-width: 0;
	// .page__section
	&__section {
		margin: 0px 0px rem(100) 0px;
	}
}
