/**
 * Стили галлерей
 */
.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(rem(350), 1fr));
	grid-gap: rem(30);
	@media (max-width: em($md4)) {
		grid-template-columns: repeat(auto-fill, minmax(rem(250), 1fr));
	}
	// .gallery__item
	&__item {
		cursor: pointer;
		position: relative;
		border-radius: rem(10);
		overflow: hidden;
		height: 0;
		padding-bottom: 60%;
		box-shadow: 0px 0px rem(20) 0 rgb(0 0 0 / 25%);
		border-radius: 0.625rem;
		overflow: hidden;
		padding: 0px 0px 60% 0px;
		transition: all 0.3s ease 0s;
		// .gallery__item_video
		&_video {
			&::before,
			&::after {
				content: "";
				position: absolute;
				pointer-events: none;
				z-index: 3;
				line-height: 0;
				top: 50%;
				left: 50%;
				transition: all 0.3s ease 0s;
			}
			&::before {
				transform: translate(-50%, -50%);
				width: rem(60);
				height: rem(60);
				border-radius: 50%;
				border: rem(3) solid #ffffff;
				padding: rem(10);
			}
			&::after {
				transform: translate(calc(-50% + 0.625rem), -50%);
				border: rem(15) solid transparent;
				border-left: rem(20) solid #ffffff;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.03);
				box-shadow: 0px 0px rem(30) 0 rgb(0 0 0 / 25%);
			}
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}

/**
 * Стили иконки меню
 */
.menu-icon {
	display: none;
	@media (max-width: em($md1)) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - rem(1));
			left: 0px;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - rem(1));
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - rem(1));
				}
			}
		}
	}
}

/**
 * Стили хлебных крошек
 */
.breadcrumbs {
	// .breadcrumbs__list
	&__list {
		display: flex;
		flex-wrap: wrap;
	}
	// .breadcrumbs__item
	&__item {
		display: flex;
		align-items: center;
		&:not(:last-child)::after {
			content: "»";
			margin: 0px rem(10);
			color: #000;
			font-weight: 500;
		}
	}
	// .breadcrumbs__link
	&__link {
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
		max-width: 250px;
		text-overflow: ellipsis;
		color: inherit;
		transition: all 0.3s ease 0s;
		color: #000;
		@media (any-hover: hover) {
			&:hover {
				color: var(--color-green);
			}
		}
	}
	// .breadcrumbs__current
	&__current {
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
		max-width: 250px;
		text-overflow: ellipsis;
		color: #000;
	}
}

/**
 * Стили пагинации
 */
.pagging {
	display: flex;
	align-items: center;
	justify-content: center;
	// .pagging__arrow
	&__arrow {
	}
	// .pagging__list
	&__list {
		display: flex;
	}
	// .pagging__item
	&__item {
	}
	// .pagging__link
	&__link {
		&._active {
		}
	}
}

/**
 * Стили иконки возврата к началу страницы
 */
.move-up {
	width: rem(50);
	height: rem(50);
	border-radius: 50%;
	background-color: var(--color-main);
	position: fixed;
	bottom: rem(20);
	right: rem(20);
	color: #ffffff;
	opacity: 0;
	visibility: hidden;
	transition:
		background-color 0.3s,
		opacity 0.3s,
		visibility 0.3s;
	z-index: 50;
	@media (any-hover: hover) {
		&:hover {
			background-color: var(--color-main-dark);
		}
	}
	&._scroll {
		opacity: 1;
		visibility: visible;
	}
	@media (max-width: 450px) {
		width: rem(30);
		height: rem(30);
		font-size: rem(14);
	}
	&::before,
	&:after {
		content: "";
		position: absolute;
		height: rem(3);
		width: rem(20);
		top: 50%;
		left: 50%;
		background: #ffffff;
		border-radius: rem(2);
		@media (max-width: ($md4+"px")) {
			height: rem(2);
			width: rem(10);
		}
	}
	&::before {
		transform: translate(calc(-50% + rem(6.5)), -50%) rotate(45deg);
		@media (max-width: ($md4+"px")) {
			transform: translate(calc(-50% + rem(3)), -50%) rotate(45deg);
		}
	}
	&:after {
		@media (max-width: ($md4+"px")) {
			transform: translate(calc(-50% - rem(3)), -50%) rotate(-45deg);
		}
		transform: translate(calc(-50% - rem(6.5)), -50%) rotate(-45deg);
	}
}

//===============================================================
.social {
	width: rem(30);
	height: rem(30);
	color: var(--Primary-White);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: var(--Primary-Black);
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			color: var(--Primary-White);
		}
	}
}

.language {
	position: relative;
	color: var(--Secondary-Gray-1);
	// .language__btn
	&__btn {
		color: var(--Secondary-Gray-1);
		display: flex;
		align-items: center;
		gap: rem(8);
		white-space: nowrap;
		@media (max-width: em($md3)) {
			font-size: rem(14);
		}
		&::after {
			font-family: "icons";
			@extend %ic;
			content: "\e90f";
			width: rem(20);
			height: rem(20);
			display: inline-flex;
			justify-content: center;
			align-items: center;
			font-size: rem(7);
			transition: all 0.3s ease 0s;
		}
		&._active {
			&::after {
				rotate: 180deg;
			}
		}
	}
	// .language__list
	&__list {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
		padding: rem(10);
		background: var(--Primary-White);
		border-radius: rem(8);
		&._active {
			opacity: 1;
			visibility: visible;
		}
	}
	// .language__item
	&__item {
	}
}

//===============================================================
.tag {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: rem(46);
	padding: rem(10) rem(24);
	gap: rem(8);
	border-radius: rem(999);
	border: rem(1) solid var(--Primary-Black);
	color: var(--Primary-Black);
	@media (max-width: em($md3)) {
		height: rem(36);
		padding: rem(8) rem(12);
		font-size: rem(14);
		&::before {
			font-size: rem(12);
		}
	}

	// .tag_blue
	&_blue {
		background: var(--Primary-Blue);
		border: rem(1) solid var(--Primary-Blue);
		color: var(--Primary-White);
	}
	// .tag_orange
	&_orange {
		background: var(--Primary-Orange);
		border: rem(1) solid var(--Primary-Orange);
		color: var(--Primary-White);
	}
	// .tag_green
	&_green {
		background: var(--Primary-Green);
		border: rem(1) solid var(--Primary-Green);
		color: var(--Primary-White);
	}
}

//===============================================================
.head-container {
	margin: 0px 0px rem(48) 0px;
	@media (max-width: em($md3)) {
		margin: 0px 0px rem(24) 0px;
	}
	// .head-container__tag
	&__tag {
		margin: 0px 0px rem(16) 0px;
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(12) 0px;
		}
	}
	// .head-container__title
	&__title {
		margin: 0px 0px rem(30) 0px;
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(16) 0px;
		}
	}
	// .head-container__text
	&__text {
		color: var(--Secondary-Black-2);
		font-size: rem(18);
		max-width: rem(850);
		@media (max-width: em($md3)) {
			font-size: rem(16);
		}
	}

	// .head-container_center
	&_center {
		@media (min-width: em($md3+1)) {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}
}
