.header {
	position: relative;
	background: var(--Primary-White);
	@media (max-width: em($md1)) {
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background: var(--Primary-White);
			z-index: 1;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			translate: -50% 0;
			width: calc(100% - rem(30));
			height: rem(1);
			background: var(--Primary-Black);
			z-index: 2;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
		}

		._lock &::after {
			opacity: 1;
			visibility: visible;
		}
	}
	// .header__container
	&__container {
	}
	// .header__body
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(20);
		padding: rem(14) 0px;
	}
	// .header__column
	&__column {
		// .header__column_logo
		&_logo {
		}
		// .header__column_menu
		&_menu {
		}
		// .header__column_actions
		&_actions {
			display: flex;
			align-items: center;
			gap: rem(16);
		}
	}
	// .header__icon
	&__icon {
		height: rem(50);
		width: rem(50);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		@media (max-width: em(1300)) {
			height: rem(20);
			width: rem(20);
		}
	}
	// .header__sign-in
	&__sign-in {
		width: rem(180);
		height: rem(46);
		@media (max-width: em($md1)) {
			display: none;
		}
	}
}

.logo {
	display: inline-block;
	padding: rem(7.5);
	width: rem(122);
	position: relative;
	z-index: 5;
}

.menu {
	// .menu__body
	&__body {
		@media (max-width: em($md1)) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			gap: rem(30);
			height: 100vh;
			background: var(--Primary-White);
			opacity: 0;
			overflow-x: hidden;
			overflow-y: auto;
			visibility: hidden;
			transition: all 0.3s ease 0s;
			padding: rem(100) rem(15) rem(50) rem(15);
			&._active {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		justify-content: center;
		gap: rem(16);
		@media (max-width: em(1300)) {
			gap: rem(24) rem(3);
		}
		@media (max-width: em($md1)) {
			flex-direction: column;
		}
	}
	// .menu__item
	&__item {
		text-align: center;
	}
	// .menu__link
	&__link {
		padding: rem(8) rem(16);
		display: inline-block;
		position: relative;
		text-align: center;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: rem(1);
			background: #000;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
		}
		&._active {
			&::before {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .menu__sign-in
	&__sign-in {
		width: rem(180);
		height: rem(42);
		flex: 0 0 rem(42);
		@media (min-width: em($md1+1)) {
			display: none;
		}
	}
}

.search-form {
	border: rem(1) solid var(--Secondary-Gray-2);
	border-radius: rem(8);
	display: flex;
	min-width: rem(290);
	@media (min-width: em($md1+1)) {
		display: none;
	}
	// .search-form__input
	&__input {
		flex: 1 1 auto;
		border-radius: rem(8);
		height: rem(48);
		padding: rem(8) rem(16);
		font-size: rem(14);
	}
	// .search-form__btn
	&__btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: rem(48);
		width: rem(48);
		font-size: rem(18);
	}
}

.search-btn {
	font-size: rem(16);
	@media (max-width: em($md1)) {
		display: none;
	}
}

.user-cabinet {
	font-size: rem(18);
	@media (max-width: em($md1)) {
		display: none;
	}
}
