.main-slider {
	position: relative;
	// .main-slider__slides
	&__slides {
	}
	// .main-slider__slide
	&__slide {
	}
	// .main-slider__paging-wrapper
	&__paging-wrapper {
		position: absolute;
		bottom: rem(80);
		left: 0;
		z-index: 10;
		width: 100%;
		pointer-events: none;
		@media (max-width: em($md2)) {
			bottom: rem(40);
		}
		@media (max-width: em($md3)) {
			top: rem(34);
			bottom: unset;
			display: flex;
			justify-content: center;
		}
	}
	// .main-slider__paging-container
	&__paging-container {
		@media (max-width: em(500)) {
			width: 100%;
		}
	}
	// .main-slider__pagination
	&__pagination {
	}
}

.main-slide {
	overflow: hidden;
	position: relative;
	height: rem(700);
	@include adaptiv-value(height, 700, 500, 1);
	padding: rem(80) 0px 0px 0px;
	@media (max-width: em($md2)) {
		padding: rem(40) 0px 0px 0px;
	}
	@media (max-width: em($md3)) {
		height: auto;
		padding: rem(90) 0px rem(20) 0px;
	}
	// .main-slide__container
	&__container {
	}
	// .main-slide__body
	&__body {
		display: flex;
	}
	// .main-slide__content
	&__content {
		max-width: rem(849);
	}
	// .main-slide__title
	&__title {
		margin: 0px 0px rem(30) 0px;
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(24) 0px;
		}
	}
	// .main-slide__text
	&__text {
		margin: 0px 0px rem(48) 0px;
		color: var(--Secondary-Black-2);
		@include adaptiv-value(font-size, 24, 18, 1);
		line-height: 130%;
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(15) 0px;
		}
	}
	// .main-slide__btn-wrapper
	&__btn-wrapper {
		@media (max-width: em($md3)) {
			display: flex;
			justify-content: center;
		}
	}
	// .main-slide__btn
	&__btn {
	}
	// .main-slide__paging
	&__paging {
		opacity: 0;
		visibility: hidden;
	}
	// .main-slide__bg-wrapper
	&__bg-wrapper {
		@media (min-width: em($md3+1)) {
			position: absolute;
			top: 50%;
			left: 50%;
			translate: 0 -50%;
			z-index: -1;
			width: 100%;
			height: 100%;
		}
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(24) 0px;
		}
	}
	// .main-slide__bg
	&__bg {
		@media (min-width: em($md3+1)) {
			position: absolute;
			top: 50%;
			left: 0;
			translate: 0 -50%;
		}
	}

	&:nth-child(1) {
		.main-slide__bg {
			@media (min-width: em($md3+1)) {
				@include adaptiv-value(left, -200, 0, 1);
			}
		}
	}

	&:nth-child(3) {
		.main-slide__bg {
			@media (min-width: em($md3+1)) {
				top: unset;
				bottom: 0;
				translate: unset;
			}
		}
	}
}

.main-pagination {
	pointer-events: all;
	background: var(--Secondary-Gray-3);
	display: inline-flex;
	border-radius: rem(999);
	gap: rem(4);
	padding: rem(2);
	@media (max-width: em(500)) {
		display: flex;
		justify-content: space-between;
	}
	@media (max-width: em($md4)) {
		gap: rem(0);
	}
	// .main-pagination__bullet
	&__bullet {
	}
}

.main-bullet {
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: rem(109);
	height: rem(36);
	border-radius: rem(999);
	transition: all 0.3s ease 0s;
	@media (max-width: em(500)) {
		width: unset;
		padding: 0px rem(15);
	}
	@media (max-width: em(360)) {
		width: unset;
		padding: 0px rem(10);
	}
	&._active {
		background: var(--Primary-White);
	}
	// .main-bullet__title
	&__title {
		color: var(--Primary-Black);
		font-size: rem(14);
	}

	&:nth-child(2) {
		&._active {
			.main-bullet__title {
				color: var(--Primary-Blue);
			}
		}
	}
	&:nth-child(3) {
		&._active {
			.main-bullet__title {
				color: var(--Primary-Green);
			}
		}
	}
	&:nth-child(4) {
		&._active {
			.main-bullet__title {
				color: var(--Primary-Orange);
			}
		}
	}
}

//===============================================================
.dig-ads {
	padding: rem(80) 0px;
	@media (max-width: em($md3)) {
		padding: rem(34) 0px;
	}
	// .dig-ads__container
	&__container {
	}
	// .dig-ads__head-container
	&__head-container {
		@media (max-width: em($md3)) {
			align-items: flex-start;
			text-align: left;
		}
	}
	// .dig-ads__slider
	&__slider {
		margin: 0px 0px rem(50) 0px;
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(24) 0px;
		}
	}
	// .dig-ads__actions
	&__actions {
		display: flex;
		gap: rem(16) rem(30);
		justify-content: center;
		@media (max-width: em($md4)) {
			flex-direction: column;
			align-items: center;
		}
	}
	// .dig-ads__sign-up
	&__sign-up {
		width: rem(180);
	}
	// .dig-ads__more
	&__more {
		color: var(--Primary-Blue) !important;
		width: rem(180);
	}
}

.dig-ads-slider {
	// .dig-ads-slider__slides
	&__slides {
		@media (max-width: em(1500)) {
			margin: 0px 0px rem(12) 0px;
		}
	}
	// .dig-ads-slider__slide
	&__slide {
	}
	// .dig-ads-slider__pagination
	&__pagination {
		@media (min-width: em(1501)) {
			display: none;
		}
	}
}

.dig-ads-slide {
	height: 100%;
	@media (max-width: em(1500)) {
		width: rem(409);
	}
	@media (max-width: em($md3)) {
		width: rem(250);
	}
	// .dig-ads-slide__content
	&__content {
		display: grid;
		padding: rem(32);
		gap: rem(24);
		border-radius: rem(14);
		background: var(--Secondary-Gray-4);
		@media (max-width: em($md3)) {
			justify-content: center;
			border-radius: rem(8);
			padding: rem(16);
			background: linear-gradient(219deg, #f7f6f9 28.55%, #f2f4fe 66.28%);
			gap: rem(16);
		}
	}
	// .dig-ads-slide__title
	&__title {
	}
	// .dig-ads-slide__img
	&__img {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: rem(233);
		@media (max-width: em($md3)) {
			height: rem(193);
		}
		img {
			max-height: 100%;
		}
	}
}

//===============================================================
.coinsflow {
	padding: rem(119) 0px;
	@media (max-width: em($md1)) {
		padding: rem(80) 0px;
	}
	@media (max-width: em($md2)) {
		padding: rem(50) 0px;
	}
	@media (max-width: em($md3)) {
		padding: rem(34) 0px;
	}
	// .coinsflow__container
	&__container {
	}
	// .coinsflow__body
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(0) rem(30);
		@media (max-width: em($md3)) {
			align-items: start;
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .coinsflow__column
	&__column {
		// .coinsflow__column_left
		&_left {
			@media (max-width: em($md3)) {
				order: 2;
			}
		}
		// .coinsflow__column_right
		&_right {
			padding: rem(30) 0px;
			@media (max-width: em($md3)) {
				order: 1;
				padding: 0;
			}
		}
	}
	// .coinsflow__actions
	&__actions {
		display: flex;
		gap: rem(16) rem(30);
		@media (max-width: em($md4)) {
			flex-direction: column;
			align-items: center;
		}
	}
	// .coinsflow__img
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--Secondary-Gray-4);
		height: 100%;
		padding: rem(30);
		border-radius: rem(24);
		img {
			border-radius: rem(8);
			overflow: hidden;
		}
		@media (max-width: em($md3)) {
			margin: 0px 0px rem(24) 0px;
		}
		@media (max-width: em($md4)) {
			background: linear-gradient(180deg, #f7f6f9 0%, #fbf2e8 100%);
			padding: rem(16) rem(12);
		}
	}
	// .coinsflow__sign-up
	&__sign-up {
		width: rem(180);
	}
	// .coinsflow__more
	&__more {
		color: var(--Primary-Orange) !important;
	}
}

//===============================================================
.values-block {
	padding: rem(80) 0px;
	background: var(--Secondary-Gray-4);
	@media (max-width: em($md2)) {
		padding: rem(50) 0px;
	}
	@media (max-width: em($md3)) {
		padding: rem(34) 0px;
	}
	// .values-block__container
	&__container {
	}
	// .values-block__body
	&__body {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: rem(16);
		@media (max-width: em($md3)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .values-block__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(16);
		color: var(--Secondary-Black-2);
		&:first-child {
			align-items: flex-start;
		}
		@media (max-width: em($md3)) {
			gap: rem(8);
		}
	}
	// .values-block__logo
	&__logo {
		width: 100%;
		height: 100%;
		padding: 0px rem(38);
		display: flex;
		align-items: center;
		img {
			width: rem(203);
		}
		@media (max-width: em($md3)) {
			padding: rem(15);
			justify-content: center;
		}
	}
	// .values-block__title
	&__title {
	}
	// .values-block__text
	&__text {
		font-size: rem(24);
		@media (max-width: em($md3)) {
			font-size: rem(20);
		}
	}
}

//===============================================================
.demo {
	padding: rem(80) 0px;
	@media (max-width: em($md3)) {
		padding: rem(34) 0px;
	}
	// .demo__container
	&__container {
	}
}

.demo-slider {
	// .demo-slider__slides
	&__slides {
		@media (max-width: em($md1)) {
			margin: 0px 0px rem(13) 0px;
		}
	}
	// .demo-slider__slide
	&__slide {
	}
	// .demo-slider__pagination
	&__pagination {
		@media (min-width: em(1501)) {
			display: none;
		}
	}
}

.demo-slide {
	height: auto;
	@media (max-width: em($md1)) {
		width: rem(556);
	}
	@media (max-width: em($md3)) {
		width: rem(300);
	}
	@media (max-width: em(400)) {
		width: rem(270);
	}
	// .demo-slide__content
	&__content {
		height: 100%;
		padding: rem(24) rem(32);
		background: var(--Secondary-Gray-4);
		border-radius: rem(14);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .demo-slide__icon
	&__icon {
		margin: 0px 0px rem(6) 0px;
	}
	// .demo-slide__link
	&__link {
		font-size: rem(18);
		margin: 0px 0px rem(24) 0px;
		display: inline-flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: rem(13);
		@media (max-width: em($md3)) {
			font-size: rem(14);
		}
		&::before {
			font-size: rem(14);
			@media (max-width: em($md3)) {
				font-size: rem(10);
			}
		}
		// .demo-slide__link_blue
		&_blue {
			&::before {
				color: var(--Primary-Blue);
			}
		}
		// .demo-slide__link_green
		&_green {
			&::before {
				color: var(--Primary-Green);
			}
		}
		// .demo-slide__link_orange
		&_orange {
			&::before {
				color: var(--Primary-Orange);
			}
		}
	}
	// .demo-slide__img
	&__img {
		width: 100%;
		height: rem(160);
		img {
			object-fit: contain;
		}
		@media (max-width: em($md3)) {
			height: rem(120);
		}
	}
}

//===============================================================
.exchange {
	padding: rem(80) 0px;
	@media (max-width: em($md2)) {
		padding: rem(50) 0px;
	}
	@media (max-width: em($md3)) {
		padding: rem(34) 0px;
	}
	// .exchange__container
	&__container {
	}
	// .exchange__body
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(0) rem(30);
		@media (max-width: em($md3)) {
			align-items: start;
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .exchange__column
	&__column {
		// .exchange__column_left
		&_left {
		}
		// .exchange__column_right
		&_right {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			@media (max-width: em($md2)) {
				padding: rem(17);
			}
			@media (max-width: em($md3)) {
				margin: 0px 0px rem(24) 0px;
			}
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 70%;
				background: var(--Secondary-Gray-4);
				border-radius: rem(24);
				z-index: -1;
				@media (max-width: em($md2)) {
					height: 100%;
				}
			}
		}
	}
	// .exchange__actions
	&__actions {
		display: flex;
		gap: rem(16) rem(30);
		@media (max-width: em($md4)) {
			flex-direction: column;
			align-items: center;
		}
	}
	// .exchange__tabs
	&__tabs {
	}
	// .exchange__slider
	&__slider {
	}
	// .exchange__sign-up
	&__sign-up {
		width: rem(180);
		@media (max-width: em($md2)) {
			flex: unset;
		}
	}
	// .exchange__more
	&__more {
		color: var(--Primary-Green) !important;
	}
}

.exchange-tabs {
	position: relative;
	width: rem(647);
	padding: rem(15);
	@media (max-width: em($md2)) {
		display: none;
	}
	// .exchange-tabs__nav
	&__nav {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	// .exchange-tabs__btn
	&__btn {
		position: relative;
		z-index: 2;
		color: var(--Primary-Black);
		font-family: "Evolventa";
		font-size: rem(20);
		font-weight: 700;
		line-height: 110%;
	}
	// .exchange-tabs__content
	&__content {
	}
	// .exchange-tabs__panel
	&__panel {
		padding: rem(10) 0px 0px 0px;
		// .exchange-tabs__panel_left
		&_left {
			&::before,
			&::after {
				content: "";
				background-image: url("../img/tabs/tab-bg.svg");
				background-position: 0 rem(-5);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			&::before {
				z-index: -1;
			}
			&::after {
				transform: scaleX(-1);
				z-index: -2;
			}
		}
		// .exchange-tabs__panel_right
		&_right {
			&::before,
			&::after {
				content: "";
				background-image: url("../img/tabs/tab-bg.svg");
				background-position: 0 rem(-5);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			&::before {
				z-index: -2;
			}
			&::after {
				transform: scaleX(-1);
				z-index: -1;
			}
		}
	}
	// .exchange-tabs__body
	&__body {
		padding: rem(24) rem(20);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(16);
		height: rem(275);
	}
	// .exchange-tabs__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: rem(8);
	}
	// .exchange-tabs__icon
	&__icon {
		height: rem(30);
	}
	// .exchange-tabs__title
	&__title {
		color: var(--Primary-Black);
		text-align: center;
		font-size: rem(18);
		max-width: rem(250);
	}
}

.exchange-slider {
	@media (min-width: em($md2+1)) {
		display: none;
	}
	// .exchange-slider__slides
	&__slides {
		margin: 0px 0px rem(24) 0px;
	}
	// .exchange-slider__slide
	&__slide {
	}
	// .exchange-slider__pagination
	&__pagination {
		@media (min-width: em(1501)) {
			display: none;
		}
	}
}

.exchange-slide {
	background: var(--Primary-White);
	padding: rem(16);
	border-radius: rem(14);
	border: rem(1) solid var(--Secondary-Gray-3);
	height: auto;
	// .exchange-slide__label
	&__label {
		color: var(--Primary-Black);
		font-family: "Evolventa";
		font-size: rem(18);
		font-weight: 700;
		margin: 0px 0px rem(24) 0px;
	}
	// .exchange-slide__body
	&__body {
		display: grid;
		gap: rem(12);
		margin: 0px 0px rem(6) 0px;
	}
	// .exchange-slide__item
	&__item {
		display: flex;
		align-items: center;
		gap: rem(8);
	}
	// .exchange-slide__icon
	&__icon {
	}
	// .exchange-slide__title
	&__title {
	}
}
//===============================================================

.reviews {
	margin: rem(80) 0px;
	@media (max-width: em($md3)) {
		margin: rem(34) 0px;
	}
	// .reviews__container
	&__container {
	}
	// .reviews__slider
	&__slider {
		position: relative;
		padding: 0px rem(157);
		@media (max-width: em($md0)) {
			padding: 0px rem(80);
		}
		@media (max-width: em($md2)) {
			padding: 0px rem(0);
		}
	}
	// .reviews__arrows
	&__arrows {
		position: absolute;
		top: 50%;
		left: 0;
		translate: 0 -50%;
		display: flex;
		justify-content: space-between;
		width: 100%;
		@media (max-width: em($md2)) {
			display: none;
		}
	}
	// .reviews__arrow
	&__arrow {
		cursor: pointer;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: rem(48);
		height: rem(48);
		border-radius: 50%;
		border: rem(1) solid var(--Primary-Black);
		color: var(--Primary-Black);
		transition: all 0.3s ease 0s;
		&._disabled {
			border: rem(1) solid var(--Secondary-Gray-2);
			color: var(--Secondary-Gray-2);
		}
		// .reviews__arrow_prev
		&_prev {
			scale: -1;
		}
		// .reviews__arrow_next
		&_next {
		}
	}
}

.reviews-slider {
	// .reviews-slider__slides
	&__slides {
		margin: 0px 0px rem(30) 0px;
	}
	// .reviews-slider__slide
	&__slide {
	}
	// .reviews-slider__pagination
	&__pagination {
	}
}

.reviews-slide {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: rem(16);
	@media (max-width: em($md3)) {
		width: rem(260);
	}
	// .reviews-slide__column
	&__column {
		// .reviews-slide__column_img
		&_img {
		}
		// .reviews-slide__column_content
		&_content {
			display: grid;
			gap: rem(16);
		}
	}
	// .reviews-slide__img
	&__img {
		width: rem(32);
		height: rem(32);
		border-radius: 50%;
		overflow: hidden;
		background: var(--Secondary-Gray-3);
	}
	// .reviews-slide__text
	&__text {
		color: var(--Secondary-Black-2);
		font-size: rem(18);
		line-height: 140%;
	}
	// .reviews-slide__name
	&__name {
		font-size: rem(18);
		font-weight: 500;
		line-height: 120%;
		font-style: normal;
	}
}

//===============================================================
.pricing {
	padding: rem(80) 0px;
	background: var(--Secondary-Gray-4);
	@media (max-width: em($md3)) {
		padding: rem(34) 0px;
	}
	// .pricing__container
	&__container {
	}
	// .pricing__actions
	&__actions {
		display: flex;
		justify-content: center;
	}
	// .pricing__btn
	&__btn {
	}
}

//===============================================================
.program {
	padding: rem(80) 0px;
	@media (max-width: em($md3)) {
		padding: rem(34) 0px;
	}
	// .program__container
	&__container {
	}
	// .program__body
	&__body {
		display: grid;
		align-items: center;
		grid-template-columns: rem(700) 1fr;
		gap: rem(30);
		@media (max-width: em($md0)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: em($md3)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .program__column
	&__column {
		// .program__column_content
		&_content {
			@media (max-width: em($md3)) {
				.head-container {
					text-align: center;
					margin: 0px 0px 0px 0px;
				}
			}
		}
		// .program__column_img
		&_img {
			height: 100%;
		}
	}
	// .program__actions
	&__actions {
		@media (max-width: em($md3)) {
			display: flex;
			justify-content: center;
		}
	}
	// .program__btn
	&__btn {
	}
	// .program__img
	&__img {
		border-radius: rem(24);
		overflow: hidden;
		height: rem(476);
		@media (max-width: em($md3)) {
			height: rem(186);
			img {
				object-position: top;
			}
		}
	}
}

//===============================================================
.subscribe {
	padding: rem(80) 0px;
	background: var(--Secondary-Gray-4);
	@media (max-width: em($md3)) {
		padding: rem(34) 0px;
	}
	// .subscribe__container
	&__container {
		.head-container {
			margin: 0px 0px 0px 0px;
		}
	}
	// .subscribe__body
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(30);
		@media (max-width: em($md3)) {
			gap: rem(16);
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .subscribe__column
	&__column {
		// .subscribe__column_content
		&_content {
		}
		// .subscribe__column_form
		&_form {
		}
	}
	// .subscribe__form
	&__form {
		margin: 0px 0px rem(16) 0px;
	}
	// .subscribe__text
	&__text {
	}
}

//===============================================================
.contacts {
	padding: rem(80) 0px;
	@media (max-width: em($md3)) {
		padding: rem(34) 0px;
	}
	// .contacts__container
	&__container {
	}
	// .contacts__actions
	&__actions {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: rem(16) rem(30);
	}
	// .contacts__btn
	&__btn {
		width: rem(160);
		@media (max-width: em($md3)) {
			width: rem(180);
		}
	}
}
